<div class="register-start">
  <div class="row logo-area">
    <span class="gdg-logo"></span>
  </div>
  <div class="row brand-area">
    <div class="col"></div>
    <div class="col">
      <span class="chapter-name">GDG WARSZAWA</span>
    </div>
    <div class="col">
      <span class="chapter-inspiring color-blue">INSPIRING</span>
      <span class="chapter-developers color-gray">DEVELOPERS</span>
      <span class="chapter-everywhere color-gray">EVERYWHERE</span>
    </div>
    <div class="col"></div>
  </div>
  <div class="row register-area">
    <a href="#/register" class="button register">Register here</a>
  </div>
</div>